# Data Collection

* Here we focus on scraping the data from the web using BeautifulSoup and saving it as a csv file

In [1]:
from bs4 import BeautifulSoup
import requests

Each of the below lists will be used to store relevant categorical information

In [3]:
reviews = []
star_rating = []
date = []
country = []

In [8]:
for i in range(1,37):
    data = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    soup = BeautifulSoup(data.content, "html.parser")
    
    #reviews
    for item in soup.find_all("div", class_="text_content"):
        try:
            reviews.append(item.text)
        except:
            print(f"Error on page {i}")
            reviews.append("None")
            
    #stars
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            star_rating.append(item.span.text)
        except:
            print(f"Error on page {i}")
            star_rating.append("None")
            
    #date
    for item in soup.find_all("time"):
        try:
            date.append(item.text)
        except:
            print(f"Error on page {i}")
            date.append("None")
        
    #country
    for item in soup.find_all("h3"):
        try:
            country.append(item.span.next_sibling.text.strip(" ()"))
        except:
            print(f"Error on page {i}")
            country.append("None")

Error on page 31
Error on page 32
Error on page 32
Error on page 34
Error on page 35

In [9]:
len(reviews)

3588

In [22]:
#check the length 
stars = star_rating[1:3589]
len(stars)

3588

In [11]:
len(country)

3588

In [12]:
len(date)

3588

# Creaing  a dataframe from these collected lists of data

In [13]:
import pandas as pd

In [23]:
df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | My flight on on 12 May 2023...,1,29th June 2023,United Arab Emirates
1,Not Verified | Cairo is a 5 hour flight and B...,2,29th June 2023,United Kingdom
2,✅ Trip Verified | After travelling London to ...,1,27th June 2023,United Kingdom
3,✅ Trip Verified | My luggage was mis-tagged i...,1,27th June 2023,United States
4,✅ Trip Verified | The airline lost my luggage...,1,25th June 2023,United States

In [24]:
df.shape

(3588, 4)

Now we save the data as a csv

In [25]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_review_forage.csv")